body {
	font-family: "Bebas Neue";
	font-size: 1.111vw;
}

button, a {
    transition: all .2s;
}

.container {
	// max-width: 94.097vw;
	padding: 0 4.444vw;
	margin: 0 auto;
}

.title {
    font-size: 3.333vw;
    letter-spacing: -0.03em;
    color: #454B48;
    line-height: 86%;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Manrope';
    font-size: 0.972vw;
    letter-spacing: -0.03em;
    line-height: 86%;
    color: #454B48;
    margin-bottom: 1.111vw;
}