@import "reset";
@import "media";
@import "globals";
@import "fonts";

// HEADER
.header {
	height: 6.944vw;
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 12%);
	z-index: 5;
	padding-right: 4.444vw;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&--service {
		.header {
			&__left {
				&-menu {
					&-item {
                        background: rgba(0, 0, 0, 10%);
                        color: black;
                        img {
                            filter: invert(1);
                        }
						&:hover {
							background: rgba(0, 0, 0, 15%);
						}
					}
				}
			}
			&__right {
				display: flex;
				align-items: center;
				gap: 1.667vw;
				font-family: "Lato";
				color: white;
				&-info {
					&--phone {
						color: black;
					}
				}
				&-button {
					background: rgba(0, 0, 0, 10%);
                        color: black;
                        img {
                            filter: invert(1);
                        }
						&:hover {
							background: rgba(0, 0, 0, 15%);
						}
				}
			}
		}
	}
	&__left {
		height: 100%;
		display: flex;
		align-items: center;
		&-boxLogo {
			position: relative;
			padding-left: 4.444vw;
			display: flex;
			align-items: center;
			height: 100%;
			&-bg {
				position: absolute;
				top: 0;
                border-radius: 0.347vw;
				left: -2.083vw;
                right: -2.083vw;
                height: 100%;
                transform: skewX(-20deg);
                background: #F3F3F3;
			}
			&-logo {
				height: 3.889vw;
				position: relative;
				z-index: 1;
			}
		}
		&-menu {
			margin-left: 3.472vw;
			display: flex;
			align-items: center;
			gap: 0.833vw;
			&-item {
				height: 2.5vw;
				padding: 0 1.111vw;
				border-radius: 0.556vw;
				background: rgba(255, 255, 255, 10%);
				display: flex;
				align-items: center;
				gap: 0.764vw;
				font-family: "Lato";
				font-size: 0.903vw;
				letter-spacing: -0.03em;
				padding-bottom: 0.139vw;
				&:hover {
					background: rgba(255, 255, 255, 20%);
				}
				img {
					padding-top: 0.208vw;
				}
			}
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 1.667vw;
		font-family: "Lato";
		color: white;
		&-info {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			&--phone {
				font-weight: 700;
				font-size: 1.042vw;
				margin-bottom: 0.139vw;
				letter-spacing: -0.03em;
			}
			&--callMe {
				color: #e0491f;
				font-size: 0.903vw;
				text-decoration: underline;
				text-underline-offset: 0.208vw;
				letter-spacing: -0.03em;
				transition: opacity 0.2s;
				cursor: pointer;
				display: inline-block;
				&:hover {
					opacity: 80%;
				}
			}
		}
		&-button {
			height: 2.5vw;
			padding: 0 1.111vw;
			border-radius: 0.556vw;
			background: rgba(255, 255, 255, 10%);
			display: flex;
			align-items: center;
			gap: 0.764vw;
			font-family: "Lato";
			font-size: 0.903vw;
			letter-spacing: -0.03em;
			padding-bottom: 0.139vw;
			&:hover {
				background: rgba(255, 255, 255, 20%);
			}
			img {
				padding-top: 0.208vw;
			}
		}
	}
}

// PREVIEW
.preview {
	padding-top: 10.069vw;
	position: relative;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__info {
		max-width: 33.056vw;
		&-bread {
			font-family: "Manrope";
			font-size: 1.389vw;
			font-weight: 700;
			line-height: 157%;
			color: black;
			span:first-child {
				opacity: 50%;
			}
			span:last-child {
				opacity: 70%;
			}
		}
		&-title {
			font-weight: 700;
			font-size: 4.306vw;
			line-height: 100%;
			letter-spacing: -0.208vw;
			color: #484848;
			margin: 2.222vw 0;
		}
		&-text {
			max-width: 20.069vw;
			font-family: "Raleway";
			font-size: 1.389vw;
			color: #484848;
			margin-bottom: 1.944vw;
		}
		&-button {
			width: 19.722vw;
			border-radius: 0.556vw;
			background: #da4813;
			padding: 0.833vw;
			font-family: "Manrope";
			font-weight: 500;
			line-height: 86.5%;
			letter-spacing: -0.03em;
			height: 4.444vw;
			color: white;
			position: relative;
			display: flex;
			&:hover {
				opacity: 85%;
			}
			span {
				display: block;
			}
			img {
				position: absolute;
				right: 0.694vw;
				bottom: 0.556vw;
				filter: invert(1);
			}
		}
	}
	&__pipes {
		margin-right: -4.444vw;
	}
}

// WELCOME
.welcome {
	background: url("../images/welcome-banner.jpg") no-repeat center / cover;
	min-height: 45.139vw;
	color: white;
	display: flex;
	align-items: flex-end;
	.container {
		width: 100%;
	}
	&__content {
		display: flex;
		gap: 15.278vw;
		padding: 6.25vw 0;
		&-title {
			max-width: 33.056vw;
			font-size: 7.431vw;
			letter-spacing: -0.208vw;
			line-height: 100%;
		}
		&-right {
			align-self: flex-end;
			max-width: 19.722vw;
			align-self: flex-end;
			margin-bottom: 1.111vw;
			&-text {
				font-family: "Raleway";
				font-size: 1.389vw;
				color: white;
				margin-bottom: 1.944vw;
			}
			&-button {
				width: 100%;
				border-radius: 0.556vw;
				background: #da4813;
				padding: 0.833vw;
				font-family: "Manrope";
				font-weight: 500;
				line-height: 86.5%;
				letter-spacing: -0.03em;
				height: 4.444vw;
				position: relative;
				display: flex;
				&:hover {
					opacity: 85%;
				}
				span {
					display: block;
				}
				img {
					position: absolute;
					right: 0.694vw;
					bottom: 0.556vw;
					filter: invert(1);
				}
			}
		}
	}
}

// EXPERTS
.experts {
	margin-top: 5.556vw;
	position: relative;
	.container {
		display: flex;
		justify-content: space-between;
		gap: 1.667vw;
	}
	&__square {
		background: #da4813;
		height: 5.833vw;
		width: 7vw;
		position: absolute;
		top: 0;
		left: -4.444vw;
		transform: skewX(-20deg);
	}
	&__info {
		&-title {
			margin-bottom: 1.25vw;
			max-width: 29.861vw;
		}
		&-text {
			font-family: "Manrope";
			line-height: 157%;
			max-width: 50.361vw;
			color: #454b48;
			& + & {
				margin-top: 1.85vw;
			}
		}
		&-box {
			display: flex;
			justify-content: space-between;
            gap: 1vw;
		}
		&-director {
			margin-top: 4vw;
		}
	}
	&__photo {
		display: block;
        border-radius: 0.972vw;
	}
}

// DIRECTOR
.director {
	background: #eaeaea;
	padding: 2.77vw 0;
	font-family: "Manrope";
	font-weight: 500;
	font-size: 0.972vw;
	line-height: 157%;
	height: 23.611vw;
	margin-top: -4.6vw;
	&__job {
		color: #e0491f;
	}
	&__name {
		margin-top: 0.417vw;
		font-weight: 700;
		font-size: 1.389vw;
		color: rgba(0, 0, 0, 70%);
	}
}

// ADVANTAGES
.advantages {
	margin-top: -9.861vw;
	&__items {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 1.736vw;
		&-item {
			img {
				display: block;
			}
			background: white;
			border: 0.069vw solid rgba(#000000, 10%);
			border-radius: 1.111vw;
			width: 100%;
			padding: 1.319vw 1.597vw 1.319vw 1.25vw;
			&-line {
				background: rgba(#454b48, 10%);
				height: 0.069vw;
				margin: 1.111vw 0.903vw 1.111vw 0;
			}
			&-title {
				color: #454b48;
				margin-bottom: 1.111vw;
				font-size: 2.222vw;
				letter-spacing: -0.03em;
				line-height: 100%;
				max-width: 16.111vw;
				height: 4.444vw;
			}
			&-text {
				font-family: "Manrope";
				line-height: 140%;
				letter-spacing: -0.03em;
				color: rgba(#454b48, 70%);
			}
		}
	}
}

// SERVICES
.services {
	margin-top: 5.556vw;
	&__head {
		display: flex;
		gap: 3.472vw;
		align-items: flex-end;
		margin-bottom: 2.431vw;
		&-titles {
			max-width: 48.264vw;
		}
		&-button {
			max-width: 19.722vw;
			color: white;
			width: 100%;
			border-radius: 0.556vw;
			background: #da4813;
			padding: 0.833vw;
			font-family: "Manrope";
			font-weight: 500;
			line-height: 86.5%;
			letter-spacing: -0.03em;
			height: 4.444vw;
			position: relative;
			display: flex;
			&:hover {
				opacity: 85%;
			}
			span {
				display: block;
			}
			img {
				position: absolute;
				right: 0.694vw;
				bottom: 0.556vw;
				filter: invert(1);
			}
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 1.111vw;
		grid-row-gap: 1.111vw;
		&-item {
			position: relative;
            border-radius: 0.972vw;
            overflow: hidden;
			&-square {
				width: 1.667vw;
				height: 1.667vw;
				background: #e0491f;
				position: absolute;
				top: 1.389vw;
				left: 1.389vw;
			}
			&-title {
				position: absolute;
				bottom: 1.389vw;
				left: 1.389vw;
				right: 1.389vw;
				font-size: 1.944vw;
				letter-spacing: -0.03em;
				line-height: 100%;
				color: white;
			}
			&-open {
				position: absolute;
				width: 3.194vw;
				height: 3.194vw;
				border: 0.069vw solid rgba(255, 255, 255, 20%);
				border-radius: 0.417vw;
				top: 1.389vw;
				right: 1.389vw;
				&:hover {
					background: white;
				}
				&:hover &-arrow {
					filter: invert(0);
				}
				&-arrow {
					position: absolute;
					top: 0.417vw;
					right: 0.417vw;
					filter: invert(1);
					transform: rotate(-90deg);
					transition: all 0.2s;
				}
			}
			img {
				display: block;
			}
			> img {
				border-radius: 0.972vw;
				width: 100%;
				height: 20.694vw;
				object-fit: cover;
			}
			&--1 {
				grid-area: 1 / 1 / 2 / 2;
			}
			&--2 {
				grid-area: 1 / 2 / 2 / 3;
			}
			&--3 {
				grid-area: 1 / 3 / 2 / 4;
			}
			&--4 {
				grid-area: 1 / 4 / 2 / 5;
			}
			&--5 {
				grid-area: 2 / 1 / 3 / 3;
			}
			&--6 {
				grid-area: 2 / 3 / 3 / 5;
			}
			&--7 {
				grid-area: 3 / 1 / 4 / 2;
			}
			&--8 {
				grid-area: 3 / 2 / 4 / 3;
			}
			&--9 {
				grid-area: 3 / 3 / 4 / 4;
			}
			&--10 {
				grid-area: 3 / 4 / 4 / 5;
			}
		}
	}
}

// EQUIPMENT
.equipment {
	margin: 5.972vw 0;
	background: #eaeaea;
	padding: 4.444vw 0;
	&__head {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		&-titles {
			max-width: 27.778vw;
		}
		&-menu {
			display: flex;
			align-items: stretch;
			gap: 0.417vw;
			&-button {
				&:first-child {
					background: #e0491f;
					color: white;
				}
				&:hover {
					background: #e0491f;
					color: white;
				}
				height: 3.056vw;
				padding: 0 2.222vw;
				color: #454b48;
				font-family: "Manrope";
				letter-spacing: -0.03em;
				line-height: 100%;
				text-align: center;
				border-radius: 0.556vw;
				background: white;
			}
		}
	}
	&__items {
		margin-top: 3.056vw;
		display: flex;
		align-items: center;
		gap: 2.083vw;
		&-item {
			border-radius: 1.111vw;
			overflow: hidden;
			position: relative;
			letter-spacing: -0.03em;
			color: white;
            width: 100%;
			img {
				display: block;
                width: 100%;
			}
			&-shadow {
                border-radius: 1.111vw;
			    overflow: hidden;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
				opacity: 0.6;
				transform: rotate(180deg);
			}
			&-title {
				position: absolute;
				left: 1.667vw;
				bottom: 3.472vw;
				font-size: 2.222vw;
				line-height: 100%;
			}
			&-tag {
				font-family: "Manrope";
				left: 1.667vw;
				bottom: 1.528vw;
				opacity: 40%;
				position: absolute;
			}
		}
	}
}

// HOW WE WORK
.howWeWork {
	margin-top: 5.972vw;
	&__content {
		margin-top: 2.5vw;
		position: relative;
        > picture > img {
            width: 100%;
        }
		img {
			display: block;
		}
		&-items {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			height: 100%;
			padding-left: 1.806vw;
			padding-right: 3.472vw;
			justify-content: space-between;
			&-item {
				&:nth-child(2) {
					padding-left: 2.778vw;
				}
				&-title {
					max-width: 8.333vw;
					color: #454b48;
					font-size: 2.222vw;
					line-height: 100%;
					letter-spacing: -0.03em;
					margin-top: 2.083vw;
				}
				&:last-child &-title {
					color: white;
					max-width: 16.319vw;
				}
			}
		}
	}
}

// CONSULTATION
.consultation {
	margin: 4.444vw 0;
	.container {
		border-radius: 1.042vw;
		overflow: hidden;
	}
	&__content {
		padding: 2.083vw 2.361vw;
		display: flex;
		gap: 6.944vw;
		background: url("../images/consultation.jpg") no-repeat center / cover;
        border-radius: 1.111vw;
        overflow: hidden;
		&-left {
			color: white;
			&-title {
				font-size: 2.083vw;
				line-height: 2.083vw;
			}
			&-text {
				margin-top: 0.833vw;
				font-size: 3.611vw;
				line-height: 100%;
				max-width: 35.417vw;
			}
		}
		&-right {
			max-width: 27.083vw;
			align-self: flex-end;
			margin-bottom: 1.111vw;
			&-text {
				font-family: "Raleway";
				font-size: 1.389vw;
				color: white;
				margin-bottom: 0.833vw;
			}
			&-button {
				width: 100%;
				border-radius: 0.556vw;
				background: white;
				padding: 0.833vw;
				font-family: "Manrope";
				font-weight: 500;
				line-height: 86.5%;
				letter-spacing: -0.03em;
				height: 4.444vw;
				position: relative;
				display: flex;
				&:hover {
					opacity: 90%;
				}
				span {
					display: block;
				}
				img {
					position: absolute;
					right: 0.972vw;
					bottom: 0.556vw;
				}
			}
		}
	}
}

// CERTIFICATES
.certificates {
	margin: 4.444vw 0;
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__items {
		margin-top: 2.778vw;
		&-item {
			position: relative;
			&-photo {
				display: block;
                border-radius: 1.111vw;
			}
			&-shadow {
				position: absolute;
				bottom: 0;
				top: 50%;
				left: 0;
				right: 0;
				background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
				opacity: 0.65;
				border-radius: 1.111vw;
				transform: rotate(180deg);
			}
			&-info {
				position: absolute;
				left: 1.389vw;
				bottom: 2.222vw;
				z-index: 1;
				color: white;
				letter-spacing: -0.03em;
				line-height: 100%;
				&-title {
					font-weight: 700;
					font-size: 2.083vw;
					margin-bottom: 1.042vw;
				}
				&-extensions {
					font-family: "Manrope";
					font-size: 1.042vw;
				}
			}
			&-download {
				width: 4.306vw;
				height: 4.306vw;
				border-radius: 0.556vw;
				padding: 0.556vw;
				background: white;
				z-index: 1;
				position: absolute;
				right: 1.389vw;
				bottom: 2.222vw;
				cursor: pointer;
				&:hover img {
					transform: scale(2);
					bottom: 35%;
					right: 35%;
				}
				img {
					transition: all 0.25s;
					position: absolute;
					bottom: 0.556vw;
					right: 0.556vw;
				}
			}
		}
	}
}

// CONTACTS
.contacts {
    padding: 0 2.778vw 0 4.444vw;
	margin: 4.444vw 0;
	.container {
        border-top-right-radius: 0.694vw;
        border-bottom-right-radius: 0.694vw;
		background: #eaeaea;
		padding: 2.778vw 0 2.778vw 3.472vw;
		position: relative;
	}
	&__content {
		&-info {
			margin-top: 5.556vw;
			&-item {
				& + & {
					margin-top: 1.319vw;
				}
				&-title {
					margin-bottom: 0.694vw;
					font-family: "Inter";
					line-height: 140%;
					letter-spacing: 2%;
					color: #e0491f;
				}
				&-block {
					display: flex;
					align-items: center;
					gap: 1.181vw;
					&-text {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1.667vw;
						line-height: 140%;
						color: #454b48;
						text-decoration: underline;
					}
				}
			}
		}
	}
	&__map {
		border-radius: 0.694vw;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		img {
			display: block;
			object-fit: cover;
			height: 100%;
            border-radius: 10px;
		}
	}
}

// FOOTER
.footer {
	padding: 2.431vw 0;
	background-color: #eaeaea;
	color: #454b48;
	font-family: "Lato";
	font-size: 0.903vw;
	letter-spacing: -0.03em;
	line-height: 1.111vw;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    &__logo {
        height: 2.986vw;
    }
	&__feedback {
		display: flex;
		align-items: center;
		gap: 1.389vw;
		&-contacts {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			gap: 0.208vw;
			&-contact {
				&--phone {
					font-weight: 700;
					font-size: 1.042vw;
				}
				&--order {
				}
			}
		}
		&-button {
			background: #da4813;
			border-radius: 0.556vw;
			padding: 1.25vw 2.083vw;
			font-family: "Manrope";
			font-size: 0.972vw;
			color: white;
			line-height: 86%;
			&:hover {
				background: #e06132;
			}
		}
	}
}

// SWIPER
.swiper__buttons {
	display: flex;
	align-items: stretch;
	gap: 0.347vw;
	&-button {
		border-radius: 0.556vw;
		background: #f7f7f7;
		width: 4.444vw;
		height: 4.444vw;
		padding: 0.556vw;
		position: relative;
		img {
			position: absolute;
			transition: all 0.25s;
			display: block;
			top: 50%;
			transform: translateY(-50%);
		}
		&--left {
			img {
				left: 0.556vw;
			}
			&:hover img {
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
		&--right {
			img {
				right: 0.556vw;
			}
			&:hover img {
				right: 50%;
				transform: translateX(50%) translateY(-50%);
			}
		}
	}
}
